.tabledoc {
    background-color: white;
    width: 100%;
    margin-bottom: 1rem;
}
.t-a-center {
    text-align: center;
}
.tabledoc thead th {
    border: 1px solid #a1a1a1;
    background-color: #0f4b80;
    color: white;
}
.tabledoc td ,.tabledoc th {
    padding: 0.75rem;
}
.tabledoc tbody td {
    border: 1px solid #a1a1a1;
}