body {
  background-image: #000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Header */
.menu-divider {
  height: 33px;
  width: 1px;
  background-image: linear-gradient(to bottom, white, black, white);
}
@media (min-width: 992px){
.d-lg-block {
    display: block!important;
}
}
.dropdown-menu {
  background-color: #083264;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-item {
  color: white;
  font-family: 'iCielEffra-Regular';
  font-size: 18px;
  padding: 8px;
}
.nav-item > a {
  font-family: "Gilroy-Bold";
  font-size: 17px;
  color: #4a4a4a !important;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
}
.c-white {
  color: white;
}
a.c-white:hover {
  color: #dddddd;
}
.f-s-30 {
  font-size: 30px;
}
.f-s-30 {
  font-size: 30px;
}
.f-f-Gilroy-Heavy {
  font-family: 'Gilroy-Heavy';
}
.btn-viewmove {
  background-color: transparent;
  border: solid white 2px;
  border-radius: 22px;
  padding: 10px 25px;
  color: white;
  font-size: 16px;
  font-family: 'Gilroy-Bold';
}
.btn-viewmove:hover {
  background-color: white;
  color: #1c3f71;
}
.btn{
  font-weight:400;
}
@media screen and (min-width: 576px) {
  #lesson .modal-dialog {
    max-width: 1350px;
  }
}

@media screen and (max-width: 576px) {
  .f-s-26 {
    font-size: 12px;
  }

  .f-s-28 {
    font-size: 13px;
  }

  .f-s-30 {
    font-size: 14px;
  }

  .f-s-32 {
    font-size: 15px;
  }

  .f-s-34 {
    font-size: 16px;
  }

  .f-s-36 {
    font-size: 17px;
  }

  .f-s-38 {
    font-size: 18px;
  }

  .f-s-40 {
    font-size: 19px;
  }
}
@media screen and (max-width: 768px) {
  .table-multiple-choice tr td {
    padding: 6px 5px;
  }

  .table-point {
    padding: 5px 10px;
  }

  .sizeRadio {
    transform: scale(1);
  }

  .f-s-16 {
    font-size: 12px;
  }

  .f-s-20 {
    font-size: 14px;
  }

  .f-s-22 {
    font-size: 15px;
  }

  .f-s-24 {
    font-size: 16px;
  }

  .f-s-26 {
    font-size: 17px;
  }

  .f-s-28 {
    font-size: 18px;
  }

  .f-s-30 {
    font-size: 19px;
  }

  .f-s-32 {
    font-size: 20px;
  }

  .f-s-34 {
    font-size: 21px;
  }

  .f-s-36 {
    font-size: 22px;
  }

  .f-s-38 {
    font-size: 23px;
  }

  .f-s-40 {
    font-size: 24px;
  }

  .btn-viewmove {
    background-color: transparent;
    border: solid white 2px;
    border-radius: 15px;
    padding: 5px 10px 2px 10px;
    color: white;
    font-size: 14px;
    font-family: "Gilroy-Bold";
  }

  .decovery {
    min-height: auto;
  }

  #select-content {
    box-shadow: none;
  }

  #select-option {
    border-left: none;
  }

  #select-learn-content {
    box-shadow: none;
  }
}
@media screen and (max-width: 1199px) {
  .nav-item > a {
    font-size: 14px;
  }
}
.f-s-26 {
  font-size: 26px;
}
.blue-gradient {
  margin-bottom: 20px;
  max-width: 218px;
  height: 3px;
  background-image: linear-gradient(to right, #0573ad, #FFF);
}
.t-de-none {
  text-decoration: none !important;
}

.f-s-11 {
  font-size: 11px;
}

.f-s-12 {
  font-size: 12px;
}

.f-s-13 {
  font-size: 13px;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-18 {
  font-size: 18px;
}

.f-s-20 {
  font-size: 20px;
}

.f-s-22 {
  font-size: 22px;
}

.f-s-24 {
  font-size: 24px;
}

.f-s-26 {
  font-size: 26px;
}

.f-s-30 {
  font-size: 30px;
}

.f-s-33 {
  font-size: 33px;
}

.f-s-34 {
  font-size: 34px;
}

.f-s-35 {
  font-size: 35px;
}

.f-s-40 {
  font-size: 40px;
}

.f-s-42 {
  font-size: 42px;
}

.f-s-48 {
  font-size: 48px;
}
.pos-abs {
  position: absolute;
}
.hover-scale {
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.t-a-center {
  text-align: center; 
}
.dropdown-item:hover {
  background-color: #1b4c89;
  color: white;
}
a.c-white:hover {
  color: #dddddd;
}

.hover-c-grey:hover {
  color: #4a4a4a !important;
}
.btn-blue:hover {
  background-color: #0091d4;
  color: white;
}
.btn-move-topic:hover {
  background-color: #fff;
  border: solid #0072bc 1px;
  color: #0072bc;
}
.hover-scale:hover {
  transform: scale(1.05);
}

.hover-bg-to-grey:hover {
  background-color: #4a4a4a;
}
.learn-menu:hover {
  background-color: #cbe3ff;
}
.learn-sub-menu.active.blue,
.learn-sub-menu.blue:hover {
  background-color: #1f5492;
}

.learn-sub-menu.active.orange,
.learn-sub-menu.orange:hover {
  background-color: #ffb532;
}

.learn-sub-menu.active.green,
.learn-sub-menu.green:hover {
  background-color: #21c872;
}
.hover:hover {
  cursor: pointer;
}
.btn-result-blue:hover {
  text-decoration: none;
  color: whitesmoke;
}
listVideo .card.active,
#listVideo .card:hover {
  background-color: #d7ebfa;
  color: #0674ad;
  font-weight: bold;
  border: 1px solid;
}
.hover-scale {
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.card-image {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%), 0 3px 6px 0 rgb(0 0 0 / 35%);
}
#newContent img {
  max-width: 100%;
}