.block-green {
    background-color: #7db04b;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    border-radius: 10px;
}
.block-gray {
    background-color: #f2f2f2;
    border-radius: 10px;
}
.table-multiple-choice tr {
    border: 1px solid #b7b7b7;
}
.table-multiple-choice tr td {
    padding: 10px 20px;
    font-weight: 500;
    margin: 40px 0;}