#topicSite .nav-item .nav-link.active {
    color: #4a4a4a !important;
}
#topicSite .nav-item .nav-link {
    color: #0674ad !important;
}
.nav-tabs .nav-link {
    border: 1px solid #bdbdbd;
}
.b-bot{
    border-bottom: 1px solid;
    color: #0674ad;
    text-transform: uppercase;
    font-weight: bold !important;

}
.t-de-none {
    text-decoration: none !important;
}
.up {
    text-transform: uppercase;
    font-weight: bold !important;
}